/* Jumbotron */
.home-hero {
  text-align: center;
  background: $main-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-hero h1 {
  margin-bottom: 30px;
  font-weight: lighter;
}

.home-hero h1 span {
  font-family: $accent-font;
}

.home-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
}

.home-hero .container img {
  height: 250px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $main-bg-color;
}

.home-page .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1400px;
  padding: 3%;
}

.home-page .photos .card {
  width: 18%;
  border: 1px solid #e9ecef;
  margin: 8px;
}

.home-page .photos .card .main {
  max-height: 175px;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 1200px) {
  .home-hero .container {
    padding: 0;
  }
  .home-page .photos .card {
    width: 45%;
  }
  .home-page .photos .card .main {
    min-height: 300px;
  }
}

@media only screen and (max-width: 900px) {
  /* home hero */
  .home-hero .container {
    flex-direction: column;
    align-items: center;
  }

  .home-hero .container img {
    height: 200px;
  }
}

@media only screen and (max-width: 605px) {
  /* home hero */
  .home-hero .container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .home-hero .container img {
    height: 180px;
    margin-top: 20px;
  }

  .home-page .photos {
    padding: 0;
  }

  .home-page .photos .card:first-child {
    margin-top: 10px;
  }

  .home-page .photos .card {
    width: 100%;
    margin: 5px 0;
    border-left: none;
    border-right: none;
  }

  .home-page .photos .card .main {
    min-height: 350px;
  }
}
