/* Jumbotron */
.home-hero {
  text-align: center;
  background: $accent-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .mobile-header {
    display: none;
  }
  h1 {
    margin-bottom: 30px;
    font-weight: lighter;

    span {
      font-family: $accent-font;
    }
  }
}

.home-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px;

  h3 {
    font-size: 20px;
    margin: 20px 0 0 0;
  }

  img {
    height: 200px;
  }

  .checkmark {
    color: $secondary-accent;
  }
}

.home-hero {
  .sign-up-btn {
    margin: 30px 20px 0 0;
    border: 2px solid $main-blue;
    color: $main-blue;
    border-radius: 25px;
    width: 120px;
  }
  .sign-in-btn {
    margin: 30px 0 0 0;
    background-color: $main-blue;
    border: 2px solid $main-blue;
    color: $pure-white;
    border-radius: 25px;
    width: 120px;
  }
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $main-bg-color;

  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1800px;
    padding: 0%;
    margin: 0 auto;
  }
}

.home-page .photos .card {
  width: 15%;
  border: 1px solid $main-border;
  margin: 8px;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .likes {
      display: flex;
      align-items: center;

      .red-heart {
        color: rgb(185, 19, 19);
        cursor: pointer;
        margin-right: 5px;
      }
      .heart-outline {
        color: $outline;
        cursor: pointer;
        margin-right: 5px;
      }
      .text {
        margin-right: 15px;
        color: gray;
        font-size: 12px;
      }
    }

    .comments {
      display: flex;
      align-items: center;
      text-decoration: none;
      span {
        color: gray;
        font-size: 12px;
      }
    }
  }
}

.home-page .photos .card .intro {
  display: flex;
  padding: 3%;
  text-decoration: none;
  color: $main-font;

  .profile {
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 5px;
    object-position: center;
    cursor: pointer;
  }
  p {
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    align-self: center;
  }
}

.home-page .photos .card .main {
  max-height: 175px;
  object-fit: cover;
  object-position: center;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1200px) {
  .home-hero .container {
    padding: 0;
  }
  .home-page .photos .card {
    width: 25%;
  }
}

@media only screen and (max-width: 900px) {
  /* home hero */
  .home-hero {
    margin-top: 0;
    margin-bottom: 0;
    .mobile-header {
      display: inline-block;
      position: absolute;
      top: 0;
      padding: 5px 15px;
      width: 100%;

      h2 {
        text-align: start;
        font-family: $accent-font;
        color: $main-blue;
      }

      .login {
        position: absolute;
        top: 8px;
        right: 0;
        font-size: 12px;

        a {
          color: gray;
        }
      }
    }
  }
  .home-hero .container {
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .home-hero .container img {
    height: 200px;
    margin: 0 20px;
  }

  .artist,
  .camera,
  .share {
    margin: 10px;
  }

  .home-page .photos .card {
    width: 40%;
  }
}

@media only screen and (max-width: 605px) {
  /* home hero */
  .home-hero {
    h1 {
      display: none;
    }
  }
  .home-hero .container {
    justify-content: space-around;
    padding: 0 1%;

    .artist,
    .camera,
    .share {
      margin: 15px 5px;
    }
  }
  .home-hero .container img {
    height: 7.5em;
    margin: 0;
    padding: 0;
  }

  .home-hero .container h3 {
    font-size: 16px;
    margin: 10px 0 0 -10px;
  }

  .home-page .photos {
    padding: 0;
  }

  .home-page .photos .card:first-child {
    margin-top: 10px;
  }

  .home-page .photos .card {
    width: 100%;
    margin: 5px 0;
    border-left: none;
    border-right: none;

    .footer {
      padding: 15px;
    }
  }

  .home-page .photos .card .main {
    min-height: 350px;
  }
}
