html {
  background: #fafafa;
}
​ body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  /* -ms-overflow-style: none; */
}

.App {
  margin: 0 auto 60px auto;
  background: #fafafa;
}

/* comment scroll bar */

.scroll {
  --scrollbarBG: #fff;
  --thumbBG: #c1c1c1;
}
.scroll::-webkit-scrollbar {
  width: 15px;
}
.scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.scroll::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* main navigation */

.desktop-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid silver;
  padding: 0 8%;
}
nav a {
  color: #17a2b8;
  transition: 0.2s;
}

nav a:hover {
  text-decoration: none;
  color: #0f7585;
}

nav .nav-search {
  margin: 0 3% 0 3%;
  border: 1px solid silver;
  border-radius: 25px;
  padding: 5px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

nav .nav-search input,
nav .nav-search button {
  border: none;
  background: none;
}

nav .nav-search input {
  width: 100%;
}

button:focus,
input:focus {
  outline: none !important;
  outline-offset: none !important;
}

nav .title {
  font-family: Megrim, cursive;
  font-size: 64px;
  margin: 0 3% 0 3%;
}

/* mobile nav */
.mobile-nav,
.mobile-search {
  display: none;
}

/* Jumbotron */
.home-hero {
  text-align: center;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-hero h1 {
  margin-bottom: 30px;
  font-weight: lighter;
}

.home-hero h1 span {
  font-family: Megrim, cursive;
}

.home-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
}

.home-hero .container img {
  height: 250px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
}

.home-page .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1400px;
  padding: 3%;
}

.home-page .photos .card {
  width: 31%;
  border: 1px solid #e9ecef;
  margin: 10px;
}

.home-page .photos .card .main {
  height: 45vh;
  max-height: 400px;
  min-height: 350px;
  object-fit: cover;
  object-position: center;
}

/* User Dashboard */

.settings-dropdown {
  display: none;
}

.user-dashboard {
  display: flex;
  width: 90%;
  max-width: 1000px;
  justify-content: center;
  align-items: flex-start;
  background: #fafafa;
  margin: 0 auto;
}

.user-dashboard .avatar {
  object-fit: cover;
  object-position: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-dashboard section {
  padding: 0 5%;
  width: 70%;
}

.user-dashboard section div {
  display: flex;
  align-items: center;
}

.user-dashboard header .mobile {
  display: none;
}

.user-dashboard section div h1 {
  font-size: 35px;
  font-weight: bolder;
  margin-right: 10%;
}

/* edit button  */
.user-dashboard section div .desktop {
  white-space: nowrap;
  display: flex;
  align-items: center;
  border: 1px solid #17a2b8;
  color: #17a2b8;
  border-radius: 20px;
  padding: 8px 20px;
  background: #fafafa;
}

.user-dashboard section div .desktop.follow {
  color: #fff;
  background: #17a2b8;
}

.user-dashboard section .main .follows {
  padding-left: 4px;
}
.user-dashboard section .main .follows {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.user-dashboard section .follows span {
  color: #000;
  font-weight: bolder;
  margin-right: 5px;
}

.user-dashboard section .follows .following {
  cursor: pointer;
  margin-right: 1em;
}

.user-dashboard section .main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 16px;
  color: gray;
}

.user-dashboard section .main p {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-dashboard section .main p i {
  padding-right: 10px;
}

.user-dashboard section h2 {
  font-weight: bolder;
  font-size: 18px;
}

/* modal for followers/following */
.follow-btn {
  display: flex;
  align-items: center;
  border: 1px solid #17a2b8;
  color: #fff;
  background: #17a2b8;
  border-radius: 25px;
  padding: 7px 15px;
  font-size: 12px;
}

.unfollow-btn {
  display: flex;
  align-items: center;
  border: 1px solid #17a2b8;
  border-radius: 25px;
  padding: 7px 15px;
  font-size: 12px;
  background: #fff;
  color: #17a2b8;
}

.user-dashboard .desktop-add-btn {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.dashboard-nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid silver;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.dashboard-nav a {
  color: gray;
  width: 30vw;
  max-width: 200px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.dashboard-nav a.active {
  border-bottom: 3px solid #17a2b8;
  color: #17a2b8;
}

/* single photo view */

.single-photo-view {
  display: flex;
  justify-content: center;
  margin: 5%;
  background: #fafafa;
}

.single-photo-view .main {
  max-height: 600px;
  max-width: 600px;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.single-photo-view .details {
  width: 25%;
  padding: 0;
}

.single-photo-view .artist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.single-photo-view .avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

/* add new comment */

.add-comment {
  border: none;
  background: none;
  color: #17a2b8;
  padding: 0 15px 0 0;
}

.add-comment:disabled {
  color: gray;
}

/* my photos */

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px auto;
  width: 90%;
  max-width: 1200px;
}

.photo-card {
  cursor: pointer;
  border: 1px solid #e9ecef;
  background: #fff;
  height: 350px;
  width: 31.5%;
  padding: 20px;
  margin: 3px;
}

.photo-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* create new post  */

.add-new-post {
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 5% auto;
  width: 100%;
}

.add-new-post .image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-new-post img {
  width: 80%;
  cursor: pointer;
  max-height: 450px;
  object-fit: cover;
  object-position: center;
}

.add-new-post form {
  width: 60%;
  min-width: 500px;
}

.add-new-post form .text-area {
  resize: none;
  height: 275px;
}

/* edit profile page */

.edit-profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  margin: 5% auto;
}

.edit-profile .image-preview {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
}

.edit-profile .image-preview img {
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.edit-profile .image-preview h1 {
  font-size: 35px;
  font-weight: bolder;
  width: 100%;
}

.edit-profile form {
  width: 60%;
  margin-right: 10%;
}

@media only screen and (max-width: 1200px) {
  .home-hero .container {
    padding: 0;
  }
  .photo-card {
    height: 250px;
  }
}

@media only screen and (max-width: 900px) {
  /* home hero */
  .home-hero .container {
    flex-direction: column;
    align-items: center;
  }

  .home-hero .container img {
    height: 200px;
  }

  .home-page .photos .card {
    width: 45%;
  }

  /* user dashboard  */

  .settings-dropdown {
    display: inline;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .user-dashboard {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .user-dashboard section {
    width: 100%;
  }
  .photo-card {
    height: 200px;
  }

  .user-dashboard .desktop-add-btn {
    display: none;
  }

  /* single photo view */
  .single-photo-view {
    flex-direction: column;
    align-items: center;
  }

  .single-photo-view .main {
    max-height: auto;
    max-width: auto;
    height: auto;
    width: 100%;
  }

  .single-photo-view .details {
    width: 100%;
    padding: 0;
    height: auto;
  }

  /* single photo modal - being deprecated */
  .single-photo {
    flex-direction: column;
  }

  /* add new post */
  .add-new-post {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 80px;
  }

  .add-new-post img {
    width: 100%;
  }

  .add-new-post form {
    width: 90%;
    margin-right: 0;
  }
  /* desktop navigation */
  .desktop-nav {
    display: none;
  }

  /* mobile nav */

  .mobile-nav {
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    width: 100%;
    border-top: 1px solid silver;
    height: 50px;
    padding: 0;
  }

  .mobile-nav a,
  .mobile-nav div {
    color: #a7a7a7;
    font-size: 25px;
  }

  .mobile-nav .mobile-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 1.75em;
    width: 1.75em;
    border: none;
    background: #17a2b8;
    color: #fff;
  }

  .mobile-search {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 5%;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 25px auto;
  }

  .mobile-search input,
  .mobile-search button {
    border: none;
    background: none;
  }
}

@media only screen and (max-width: 605px) {
  /* mobile search */

  .mobile-search {
    width: 70%;
  }

  /* home hero */
  .home-hero .container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .home-hero .container img {
    height: 180px;
    margin-top: 20px;
  }
  .home-page .photos .card {
    width: 100%;
  }

  .home-page .photos .card .main {
    min-height: 0;
  }

  /* user-dashboard */
  .user-dashboard {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .user-dashboard section {
    width: 100%;
    padding: 0;
  }

  .user-dashboard section div {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .user-dashboard section h1 {
    width: 100%;
  }
  .user-dashboard header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
  }
  .user-dashboard header .mobile {
    display: flex;
    align-items: center;
    border: 1px solid #17a2b8;
    color: #17a2b8;
    border-radius: 20px;
    padding: 8px 20px;
    background: #fafafa;
  }

  .user-dashboard header .mobile.follow {
    color: #fff;
    background: #17a2b8;
  }

  .user-dashboard section .follows .following {
    margin-right: 0;
  }

  .user-dashboard section .main {
    font-size: 14px;
  }

  .user-dashboard section .main p {
    margin: 0 0 8px 0;
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
  }

  .user-dashboard section div {
    margin: 0;
  }

  .user-dashboard section div .desktop {
    display: none;
  }
  .user-dashboard .avatar {
    height: 100px;
    width: 100px;
  }

  .user-dashboard section div h1 {
    font-size: 28px;
  }

  /* .user-dashboard section .main .follows {
    width: 50%;
  } */

  .dashboard-nav {
    width: 90%;
  }

  /* my photos */
  .my-photos {
    justify-content: flex-start;
    width: 100%;
  }

  .photo-card {
    height: 18vh;
    padding: 0;
  }

  /* add new post */
  .add-new-post {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 80px;
  }

  .add-new-post .image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-new-post img {
    width: 60%;
  }

  .add-new-post form {
    width: 100%;
    min-width: auto;
  }

  .add-new-post form .text-area {
    height: 25vh;
  }

  /* edit profile */
  .edit-profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 80px 0;
  }

  .edit-profile .image-preview {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
  }

  .edit-profile .image-preview h1 {
    font-size: 24px;
    font-weight: bolder;
  }

  .edit-profile .image-preview img {
    height: 100px;
    width: 100px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .edit-profile form {
    width: 90%;
    margin-right: 0;
  }
}
