body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  /* -ms-overflow-style: none; */
}

.App {
  margin: 0 auto 60px auto;
}

/* main navigation */

.desktop-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid silver;
}
nav a {
  color: #000;
}

nav a:hover {
  text-decoration: none;
  color: #17a2b8;
}

nav .fas:hover {
  color: #17a2b8;
}

nav .nav-search {
  margin: 0 3% 0 3%;
  border: 1px solid silver;
  border-radius: 5px;
}

nav .nav-search input,
nav .nav-search button {
  border: none;
  background: none;
}

nav .nav-search button:focus,
nav .nav-search input:focus {
  outline: none;
}

nav .title {
  font-family: Megrim, cursive;
  font-size: 64px;
  margin: 0 3% 0 3%;
}

/* mobile nav */
.mobile-nav {
  display: none;
}

/* Jumbotron */
.home-hero {
  text-align: center;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-hero h1 {
  margin-bottom: 30px;
  font-weight: lighter;
}

.home-hero h1 span {
  font-family: Megrim, cursive;
}

.home-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
}

.home-hero .container img {
  height: 250px;
}

.home-page .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-page .photos .card {
  width: 30%;
}

/* User Dashboard */

.user-dashboard {
  display: flex;
  width: 90%;
  max-width: 1000px;
  justify-content: center;
  align-items: flex-start;
  background: #fafafa;
  margin: 0 auto;
}

.user-dashboard header {
  margin-right: 10%;
}

.user-dashboard .avatar {
  object-fit: cover;
  object-position: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-dashboard section div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.user-dashboard header .mobile {
  display: none;
}

.user-dashboard section div h1 {
  font-size: 35px;
  font-weight: bolder;
  margin-right: 10%;
}

.user-dashboard section .main {
  display: flex;
  justify-content: flex-start;
}

.user-dashboard section .main p {
  margin-right: 40px;
}
.user-dashboard section .main p i {
  padding-right: 10px;
}

.user-dashboard section h2 {
  font-weight: bolder;
  font-size: 18px;
}

.user-dashboard .desktop-add-btn {
  float: right;
}

.dashboard-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid silver;
  width: 80%;
  margin: 0 auto;
}

.dashboard-nav a {
  color: #000;
  padding: 8px;
  margin: 0 10px;
  width: 100px;
  text-align: center;
  font-weight: bolder;
}

.dashboard-nav a.active {
  border-bottom: 3px solid #17a2b8;
  color: #17a2b8;
}

/* my photos */

.my-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px auto;
  width: 80%;
}

.photo-card {
  cursor: pointer;
  border: 1px solid #e9ecef;
  height: 350px;
  width: 33%;
}

.photo-card img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* create new post  */

.add-new-post {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 5% auto;
  width: 100%;
}

.add-new-post img {
  width: 90%;
  cursor: pointer;
  max-height: 450px;
  object-fit: cover;
  object-position: center;
}

.add-new-post form {
  width: 60%;
  margin-right: 10%;
}

.add-new-post form .text-area {
  resize: none;
  height: 275px;
}

/* edit profile page */

.edit-profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  margin: 5% auto;
}

.edit-profile .image-preview {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
}

.edit-profile .image-preview img {
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.edit-profile .image-preview h1 {
  font-size: 35px;
  font-weight: bolder;
  width: 100%;
}

.edit-profile form {
  width: 60%;
  margin-right: 10%;
}

@media only screen and (max-width: 1200px) {
  .home-hero .container {
    padding: 0;
  }
  .photo-card {
    height: 250px;
  }
  .home-page .photos .card {
    width: 47%;
  }
}

@media only screen and (max-width: 900px) {
  /* home hero */
  .home-hero .container {
    flex-direction: column;
    align-items: center;
  }

  .home-hero .container img {
    height: 200px;
  }

  .home-page .photos .card {
    width: 45%;
  }

  /* user dashboard  */
  .user-dashboard {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .photo-card {
    height: 200px;
  }

  /* add new post */
  .add-new-post {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 80px;
  }

  .add-new-post img {
    width: 100%;
  }

  .add-new-post form {
    width: 90%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 605px) {
  /* desktop navigation */
  .desktop-nav {
    display: none;
  }

  /* mobile nav */

  .mobile-nav {
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #fff;
    width: 100%;
    border-top: 1px solid silver;
    height: 60px;
    padding: 0 5%;
  }

  .mobile-nav a {
    color: gray;
    font-size: 25px;
    /* align-self: center; */
  }
  .mobile-nav a:nth-child(2) {
    font-size: 32px;
  }
  .mobile-nav a:nth-child(3) {
    font-size: 32px;
  }

  /* home hero */
  .home-hero .container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .home-hero .container img {
    height: 180px;
    margin-top: 20px;
  }
  .home-page .photos .card {
    width: 100%;
  }

  /* user-dashboard */
  .user-dashboard {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .user-dashboard section div {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .user-dashboard header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .user-dashboard header .mobile {
    display: inline;
  }
  .user-dashboard section .main {
    flex-direction: column;
  }

  .user-dashboard section .main p {
    width: 100%;
  }
  .user-dashboard section div .desktop {
    display: none;
  }
  .user-dashboard .avatar {
    height: 125px;
    width: 125px;
  }

  .user-dashboard .desktop-add-btn {
    display: none;
  }

  .dashboard-nav {
    width: 100%;
  }

  /* my photos */
  .my-photos {
    justify-content: center;
    width: 100%;
  }

  .photo-card {
    height: 18vh;
  }

  /* add new post */
  .add-new-post {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 80px;
  }

  .add-new-post .image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-new-post img {
    width: 60%;
  }

  .add-new-post form {
    width: 100%;
  }

  .add-new-post form .text-area {
    height: 25vh;
  }

  /* edit profile */
  .edit-profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 80px 0;
  }

  .edit-profile .image-preview {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
  }

  .edit-profile .image-preview h1 {
    font-size: 24px;
    font-weight: bolder;
  }

  .edit-profile .image-preview img {
    height: 100px;
    width: 100px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .edit-profile form {
    width: 90%;
    margin-right: 0;
  }
}
