// Colors
$main-blue: #17a2b8;
$blue-green: #0f7585;
$white-smoke: #fafafa;

// Color assignments
$main-bg-color: $white-smoke;
$accent-font-color: $main-blue;

// Fonts
$accent-font: Megrim, cursive;
$content-font: Roboto, sans-serif;
$title-font: "Playfair Display", serif;
